@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NEXT ART_Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NEXT ART_Heavy.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NEXT ART_Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NEXT ART_Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NEXT ART_SemiBold.otf") format("opentype");
  font-weight: 600;
}
/* Importing Google Fonts */
h1 {
  font-family: "NEXT ART", sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #FDFDFD;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  font-weight: 800;
  margin: 0;
}
@media screen and (max-width: 1300px) {
  h2 {
    font-size: 24px;
  }
}

button {
  font-family: "NEXT ART", sans-serif;
  font-weight: 600; /* Adjust as needed */
}

p, span, ul, li, b {
  font-family: "Nunito Sans", "Mulish", sans-serif;
}

span, p {
  font-weight: 600;
  font-size: 14px;
}

ul {
  font-weight: 600;
}

li {
  font-weight: 500;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.gap-40 {
  gap: 40px;
}
@media screen and (max-width: 1000px) {
  .gap-40 {
    gap: 24px;
  }
}

.absolute {
  position: absolute;
}

.home {
  margin: 82px 0;
}

.home__substrate {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1764705882);
  border-radius: 10px;
}

.home__choose-button {
  width: 256px;
  padding: 16px 14px;
  border-radius: 8px;
  border: 1px solid #FDFDFD;
  color: #FDFDFD;
  background: none;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100vh;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.biggets-margin {
  margin-bottom: 200px;
}

.gap-32 {
  gap: 32px;
}

.gap-20 {
  gap: 20px;
}

.radius-6 {
  border-radius: 6px;
}

.yellow-text {
  color: #F2BE22;
}

.text-center {
  text-align: center;
}

.auto {
  margin: auto;
}

.white {
  color: #FDFDFD;
}

@media (max-width: 1300px) {
  .media-none {
    display: none;
  }
}

@media (max-width: 1300px) {
  .media-obj-reverce {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

header .container {
  padding: 14px;
}
header ul li {
  cursor: pointer;
  color: #FDFDFD;
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 1300px) {
  header ul li {
    display: none;
  }
}
@media (max-width: 1300px) {
  header .main-button {
    display: none;
  }
}

.main-button {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background: #1A3E3E;
  color: #FDFDFD;
  cursor: pointer;
  transition: 0.3s all;
}
.main-button:hover {
  background-color: #FDFDFD;
  color: #1A3E3E;
  transform: scale(1.03);
}
.main-button:active {
  background-color: #c9c9c9;
  transform: scale(1);
}

.decor-none {
  text-decoration: none;
}

.nav-link {
  color: #FDFDFD;
  transition: 0.3s all;
  text-decoration: none;
}
.nav-link:hover {
  color: #F2BE22;
  text-decoration: underline;
  transform: scale(1.02);
}
.nav-link:hover svg path {
  fill: #F2BE22;
}

section {
  margin: 0 0 80px 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "NEXT ART", sans-serif;
}

.pointer {
  cursor: pointer;
}

.red {
  background-color: red !important;
}

.dark-white-bg {
  background-color: #F3F5F4;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.first-back {
  background-image: url("../assets/Rectangle1.png");
  background-size: cover;
}

.programm-block {
  gap: 30px;
}

.price {
  gap: 50px;
}

.programm-block__task {
  gap: 16px;
}

.programm-block__photos {
  gap: 10px;
}

.container {
  width: 1180px;
}
@media (max-width: 1300px) {
  .container {
    width: 400px;
  }
  .container h1 {
    font-size: 28px;
  }
}
@media (max-width: 420px) {
  .container {
    width: 90%;
  }
  .container h1 {
    font-size: 28px;
  }
}

input {
  width: 270px;
  height: 52px;
  border: 1px solid #FDFDFD;
  border-radius: 8px;
  background: none;
}

header .container {
  padding: 14px;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 24px;
}
@media (max-width: 1300px) {
  header ul {
    display: none;
  }
}
header ul li {
  cursor: pointer;
  color: #FDFDFD;
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 18px;
}
header .img {
  display: none;
}

.above-subheading {
  color: #F2BE22;
  font-size: 24px;
}
@media (max-width: 1300px) {
  .above-subheading {
    font-size: 15px;
  }
}

.about-us {
  gap: 240px;
}
@media (max-width: 1300px) {
  .about-us {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .about-us .about-us__text-block {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.about-us__text-block__button {
  width: 180px;
}

.about-us__image-two {
  top: 120px;
  left: 120px;
}

@media (max-width: 1300px) {
  .media-center {
    justify-content: center;
    align-items: center;
  }
}

.white-button {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background: #FDFDFD;
  color: #1A3E3E;
  cursor: pointer;
  transition: 0.3s all;
}
.white-button:hover {
  background-color: #1A3E3E;
  color: #FDFDFD;
  transform: scale(1.03);
}
.white-button:active {
  background-color: #c9c9c9;
  transform: scale(1);
}
.white-button:hover {
  background-color: #1A3E3E;
  color: #FDFDFD;
}

.media-obj {
  display: none;
}
@media (max-width: 1300px) {
  .media-obj {
    display: flex;
  }
}

.card {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  gap: 20px;
}
@media (max-width: 1300px) {
  .card {
    overflow-x: scroll;
    justify-content: start;
  }
}

.card__image-1 {
  background-image: url(../assets/icon.png);
}

.card__image-2 {
  background-image: url(../assets/icon2.png);
}

.card__image-3 {
  background-image: url(../assets/icon3.png);
}

.card__image-1, .card__image-2, .card__image-3 {
  min-width: 380px;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.card__image__description {
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.1764705882);
}

.card__image__description__price {
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.231372549);
}

.card__image__rate {
  padding: 6px;
  border-radius: 4px 0;
  top: 50px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.231372549);
}

.journeys-card {
  width: 544px;
  height: 276px;
  padding: 16px;
  gap: 24px;
  border-radius: 10px;
  background: #FDFDFD;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
}
.journeys-card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1300px) {
  .journeys-card {
    flex-direction: column;
    padding: 0;
    min-width: 285px;
    height: 550px;
    gap: 16px;
  }
  .journeys-card img {
    height: 280px;
    border-radius: 0 6px;
  }
}

@media (max-width: 1300px) {
  .journeys {
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    gap: 16px;
  }
}

.journeys-card__text {
  gap: 16px;
  padding: 0 10px 0 10px;
}

@media (max-width: 1300px) {
  .pinterest-block {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

@media (max-width: 1300px) {
  .pinterest-block__pictures {
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    gap: 16px;
  }
}

footer {
  background: #1A3E3E;
  color: #FDFDFD;
  padding-top: 178px;
  padding-bottom: 84px;
}

@media (max-width: 1300px) {
  .footer__content {
    width: 100%;
    flex-direction: column;
  }
}

.footer__cimpany-inf {
  width: 450px;
}
@media (max-width: 1300px) {
  .footer__cimpany-inf {
    width: 100%;
  }
}

.footer__services {
  width: 350px;
}
.footer__services li {
  list-style: none;
}

.footer__important {
  width: 380px !important;
}
@media (max-width: 1300px) {
  .footer__important {
    width: 280px !important;
  }
}
.footer__important li {
  list-style: none;
}

.footer__under {
  background: #18121E;
  color: #FDFDFD;
  padding: 24px 0 24px 0;
}
@media (max-width: 1300px) {
  .footer__under .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.read-news {
  color: #18121E;
}
.read-news:hover {
  color: #18121E;
}

.footer__above {
  background: #FDFDFD;
  bottom: -300px;
  color: #18121E;
  border-radius: 6px;
  padding: 40px 40px;
}
.footer__above input::placeholder {
  padding-left: 10px;
}
@media (max-width: 1300px) {
  .footer__above {
    width: 100%;
  }
  .footer__above .footer__above__content {
    padding: 40px 100px;
    gap: 64px;
    flex-direction: column;
  }
}

.footer-above__email {
  background-color: #F3F5F4;
}

.email {
  gap: 8px;
}

.footer__services-styles {
  gap: 16px;
  align-self: start;
}

.gap-4 {
  gap: 4px;
}

.gap-16 {
  gap: 16px;
}

.footer-above__regist {
  gap: 16px;
}
@media (max-width: 1300px) {
  .footer-above__regist {
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .adaptive-padding-zero {
    padding: 0;
  }
}

.footer__content > * {
  width: 300px;
  padding-left: 20px;
}

.stipulation {
  color: #18121E;
  text-decoration: underline;
}

.skype {
  transition: 0.3s all;
  cursor: pointer;
}
.skype:hover {
  transform: scale(1.2);
}
.skype:hover path {
  fill: #71BBF1;
}

.vk {
  transition: 0.3s all;
  cursor: pointer;
}
.vk:hover {
  transform: scale(1.2);
}
.vk:hover path {
  fill: #385AD4;
}

.pinterest {
  transition: 0.3s all;
  cursor: pointer;
}
.pinterest:hover {
  transform: scale(1.2);
}
.pinterest:hover path {
  fill: #EC3131;
}

.telegram {
  transition: 0.3s all;
  cursor: pointer;
}
.telegram:hover {
  transform: scale(1.2);
}
.telegram:hover path {
  fill: #71D2F1;
}

.play {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FDFDFD;
  transition: 0.3s all;
}
.play:hover {
  background-color: #1A3E3E;
  transform: scale(1.2);
}
.play:hover svg path {
  fill: #FDFDFD;
}
.play:active {
  transform: scale(1.05);
}