// Color Variables
$bg-col: #FFFFFF;
$white: #FDFDFD;
$btn-col: #1A3E3E;
$accent-col: #F2BE22;
$text-black: #18121E;
$gray: #c9c9c9;

// Size Variables
$btn-width: 16px;
$li-width: 18px;

// brakepoints

$brakepoint-xxl: 1300px;
$brakepoint-sm: 420px;